<section id="jobListings" class="section section-search darken-2 white-text center scrollspy">
<div class="row savedJobH4">
    
    <div class="col s12 saved-table">
        <h4>Saved Job Listings</h4>
        <hr />
        <table class="highlight">
            <thead>
            </thead>
            <tbody id="saved">
                {{#each saved}}
                <div class="row saved">
                <tr><b>Title:</b> {{title}}</tr>
                <br>
                <tr><b>Location:</b> {{location}}</tr>
                <br>
                <tr><b>Company:</b> {{company}}</tr>
                <br>
                <tr><b>Apply:</b> {{{howToApply}}}</tr>
                <br>
                <!--href embeded in the table object, would need to store differently to manipulate with target="_blank"? -->
                <button class="deleteBtn waves-effect waves-light btn" id={{jobID}}>Delete</button>
                <br>
                <hr />
                <br>
                </div>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
</section>
    <section class="section section-follow darken-1 white-text center footer">
        <div class="row">
            <div class="col s12">
                <h6>TrippIO Copyright 2020</h6>
            </div>
        </div>
    </section><!-- Compiled and minified JavaScript -->